*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0px;
}


.toolbar-label {
    padding: 0.5rem;
    font-size: clamp(1.5em, 1.5vh, 2em);
}

.about-container .dx-accordion-item-body{
    padding: 0.2em;
    background: rgba(#000, 0.2);
}

.about-container .item-container{
    font-size: clamp(1.3em, 1.4vh,2em);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.item-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: clamp(0.8em, 1.5vh, 2em);
}

.about-container .item-field {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(#ccc, 0.5);
}

.item-field-wide {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    border: 1px solid rgba(#ccc, 0.5);
}
.roles-field {
    padding: 0.5em;
    list-style-type: none;
}

.button-controls {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.treeView-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
}

.treeView-item-underline {
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(#ccc, 0.2);
}


.personal-info-container {
    margin: 1em;
}

.personal-info-container .dx-field {
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 1em;
}

.personal-info-container .dx-field-label {
    font-size: 1em;
}

.about-container .dx-tabs-wrapper {
    display: flex;
}

.about-container .dx-tabpanel .dx-tab {
    flex: 1;
}

.about-container .blog-icon{
    margin-left: 7px;
    margin-right: 7px;
}