*{
    padding: 0;
    margin: 0;
}

.blog-container {
    background: rgb(14, 12, 24);
    min-height: 100vh;
}

.post-list {
    color: white;
}

.post-list .list {
    display: flex;  
    flex-direction: column;
    border: 1px solid wheat;
    margin-bottom: 1em;
}